
.nav_pages{
    display: flex;
    margin: 20px 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.nav_pages ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #c7c2c2;
    padding: 8px;
    max-width: 800px;
    width: 85%;
    border: none;
    border-radius: 50px; 
    gap: 5px;
}
 
.nav_operaciones li{
    border: none;
    background-color: transparent;
    padding: 10px 16px;
    border-radius: 40px;
    transition: all 0.3s ease;
}

.nav_pages a{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: #f8f0f0;
    font-weight: 500;
    font-size: 14px;
}

.nav_pages img {
    width: 2em;  
    height: 2em; 
    object-fit: contain; 
    display: block;
    margin: 0 auto; 
}


