.contenedor_principal{
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.contenedor_mas_info{
    display:block;
    border: solid #ccc 2px;
    padding: 2%;
}

.copy_container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: solid #ccc 2px;
    border-radius: 15px;
}

.btn_copy{
    display: flex;
    width: 25%;
    height: 25%;
    align-items: center;
    border: solid #ccc 2px;
    justify-content: center;
    border-radius: 10px;
    padding: 3px 5px;
}

.btn_copy img{
    height: 2em;
    width: 2em;
    position: relative;
}

