body {
    background-color: #ffffff;
    color: #111;
    margin: 0;
    padding: 0;
}

h1 { 
    font-size: clamp(28px, 8vw, 42px);
    padding: 0 16px;
    margin-left: 35px;
}

h2 { 
    font-size: clamp(22px, 6vw, 28px); 
    text-align: center; 
}

.subtitle {
    font-size: clamp(14px, 5vw, 20px);
    color: #666;
    margin-bottom: 20px;
    padding: 0 16px;
    margin-left: 35px;
    
}

.text-center { 
    text-align: center; 
}

.contenedor_principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    gap: clamp(30px, 8vw, 250px);
    padding: 0 16px;
    max-width: 1400px; 
    margin: 0 auto; 
}

.btn-container { 
    margin-top: 20px; 
    text-align: center;
    padding: 0 16px;
}

.btn-estadoCuenta {
    padding: 12px 30px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: clamp(12px, 4vw, 13px);
    font-weight: 500;
    cursor: pointer;
    width: auto;
    max-width: 90%;
    margin-bottom: 30px;    
}

.carousel-wrapper {
    width: 100%;
    height: 300px; 
    overflow: hidden; 
    position: relative;
    max-width: 100vw;
}

.carousel-track {
    display: flex;
    gap: 80px;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; 
    padding: 0 calc(50% - 200px);
    cursor: grab;
    height: 100%; 
}

.carousel-track::-webkit-scrollbar,
.carousel-wrapper::-webkit-scrollbar {
    display: none; 
    width: 0;
    height: 0;
}

.carousel-track:active {
    cursor: grabbing;
}

.credit-card {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 400px; 
    height: 200px;
    background-color: #0a192f;
    border: 1px solid #333;
    border-radius: 12px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-snap-align: center; 
    transition: transform 0.4s ease, opacity 0.4s ease, box-shadow 0.4s ease;
    opacity: 0.5; 
    user-select: none; 
    font-family: 'Arial', sans-serif;
    color: #fff;
    
}

.credit-card.active {
    transform: scale(1.25); 
    opacity: 1;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    z-index: 2;
}

.card-header, .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 800;
}

.btn-details {
    padding: 8px 16px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 11px;
    cursor: pointer;
    font-weight: bold;
    color: #111;
}