body {
    background-color: #ffffff;
    color: #111;
}

h1 { 
    font-size: 42px;
}

h2 { 
    font-size: 28px; 
    text-align: center; 
}

.subtitle {
    font-size: 20px;
    color: #666;
    margin-bottom: 20px;
}

.text-center { 
    text-align: center; 
}

.contenedor_principal {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}



.btn-container { 
    margin-top: 20px; 
    align-items: center;
    text-align: center;  
        
}

.btn-estadoCuenta {
    padding: 12px 30px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}



